## Data type

In [23]:
type (5)

int

In [24]:
type (5.9 - 2.4)

float

In [25]:
type(4j)

complex

### Boolean

In [26]:
(1>5)

False

In [27]:
type(1>5)

bool

### String

#### Single Quote

In [28]:
a='The world will not wait for anyone yo have to get up and move'
print(a)
type (a)

The world will not wait for anyone yo have to get up and move

str

#### Double Quote

In [29]:
# this is when there is already a ' in the sentence 
a= "I'm verry hungry right now and I really need food"
print(a)
type(a)

I'm verry hungry right now and I really need food

str

#### Tripple Quote

In [30]:
# This is mainly used for multilines 
a= """
The fly was in the bin.
The lion in the savana.
And the human was sad in is man made cubicle 
 """
print(a)
type(a)

The fly was in the bin.
The lion in the savana.
And the human was sad in is man made cubicle

str

##### Multiplication and addition of strings

In [31]:
a= 'Hello World'
print(a)

Hello World

In [32]:
a+a

'Hello WorldHello World'

In [33]:
a*4

'Hello WorldHello WorldHello WorldHello World'

##### Counting of strings

In [34]:
print(a[:4])

Hell

In [35]:
print (a[-3])

r

In [36]:
print(a[3:7])

lo W

### List

In [37]:
[1,2,2]

[1, 2, 2]

In [38]:
['choclate', 'vanila', 'Coffee']

['choclate', 'vanila', 'Coffee']

In [39]:
['vanila', 3, ['scoop','spoon'], True]

['vanila', 3, ['scoop', 'spoon'], True]

In [40]:
ice_cream =['choclate', 'vanila', 'Coffee']
ice_cream.append('salted car')
ice_cream[1]='bubble gum'
ice_cream

['choclate', 'bubble gum', 'Coffee', 'salted car']

In [41]:
nest_list=['vanila', 3, ['scoop','spoon'], True]
nest_list
nest_list[2][1]
nest_list[0]

'vanila'

### Tuple

In [42]:
Tuple_scoops=(1,2,3,4,5)
Tuple_scoops

(1, 2, 3, 4, 5)

In [43]:
type(Tuple_scoops)

tuple

In [44]:
Tuple_scoops[2],[5],[0]
# do more testing

(3, [5], [0])

### Sets

In [45]:
Daily_log = {33, 5,7,67,90}
print(Daily_log)

{33, 67, 5, 7, 90}

In [46]:
type(Daily_log)

set

In [47]:
Daily_pints_log = {44,6,78,93,4,6,7,2,4,3}
print(Daily_pints_log)

{2, 3, 4, 6, 7, 44, 78, 93}

In [48]:
wifes_Daily_pints_log={2,55,6,70,93,6,3,47,88,6}
print(wifes_Daily_pints_log)

{2, 3, 70, 6, 47, 55, 88, 93}

In [49]:
print(wifes_Daily_pints_log | Daily_pints_log)

{2, 3, 4, 70, 6, 7, 44, 78, 47, 55, 88, 93}

In [50]:
print(wifes_Daily_pints_log & Daily_pints_log)

{2, 3, 93, 6}

In [51]:
print(wifes_Daily_pints_log - Daily_pints_log)

{88, 55, 70, 47}

In [52]:
print(Daily_pints_log - wifes_Daily_pints_log)

{78, 4, 44, 7}

In [53]:
print(Daily_pints_log ^ wifes_Daily_pints_log)

{4, 70, 7, 44, 78, 47, 55, 88}

#### Dictionaries

In [54]:
dic_ice_cream = {'name':'Ivereen Anjira', 
                 'weekly intake': 5, 
                 'favorite ice cream':['coffee', 'cookie dough','oreo']}
print(dic_ice_cream)

{'name': 'Ivereen Anjira', 'weekly intake': 5, 'favorite ice cream': ['coffee', 'cookie dough', 'oreo']}

In [55]:
type(dic_ice_cream)

dict

In [56]:
dic_ice_cream.values()

dict_values(['Ivereen Anjira', 5, ['coffee', 'cookie dough', 'oreo']])

In [57]:
dic_ice_cream.keys()

dict_keys(['name', 'weekly intake', 'favorite ice cream'])

In [58]:
dic_ice_cream.items()

dict_items([('name', 'Ivereen Anjira'), ('weekly intake', 5), ('favorite ice cream', ['coffee', 'cookie dough', 'oreo'])])

In [62]:
test = dic_ice_cream['name']
print(test)
type(dic_ice_cream)

Ivereen Anjira

dict

In [64]:
dic_ice_cream['name']='Tracy Agbo'
print(dic_ice_cream)

{'name': 'Tracy Agbo', 'weekly intake': 5, 'favorite ice cream': ['coffee', 'cookie dough', 'oreo']}

In [70]:
dic_ice_cream.update({'weight':57})
print(dic_ice_cream)

{'name': 'Ivereen Anjira', 'weekly intake': 5, 'favorite ice cream': ['coffee', 'cookie dough', 'oreo'], 'weight': 57, 'size': 42}

In [71]:
dic_ice_cream.update({'size':42})
print(dic_ice_cream)

{'name': 'Ivereen Anjira', 'weekly intake': 5, 'favorite ice cream': ['coffee', 'cookie dough', 'oreo'], 'weight': 57, 'size': 42}

In [74]:
del dic_ice_cream ['size']
print(dic_ice_cream)

{'name': 'Ivereen Anjira', 'weekly intake': 5, 'favorite ice cream': ['coffee', 'cookie dough', 'oreo'], 'weight': 57}

## Comparison, Logical and Membership Operators

### Comparison Opreators

In [2]:
10==10

True

In [3]:
50!=10

True

In [5]:
'vanila'=='choclate'

False

In [7]:
x='vanila'
y='choclate'
x!=y

True

In [8]:
10<10

False

In [9]:
10<=10

True

### Logical Operators

In [10]:
(10>50) and (50>10)

False

In [11]:
(70>50) and (50>10)

True

In [14]:
('vanila'>'choclate') or (5>10)

True

In [20]:
not(10>50) or (50>10) and (70>10)

True

### Membership Operators

In [21]:
ice_cream='I love ice cream'
'love'in ice_cream

True

In [22]:
'I love ice cream' in ice_cream

True

In [23]:
scoops =[1,2,3,4,5]
6 in scoops

False

In [28]:
wnated_sccops= 8
wnated_sccops not in scoops

True

## If-Elif-Else Statements

In [1]:
if 25>10:
    print ('it worked')

it worked

In [4]:
if 25<10:
    print ('it worked')
else:
    print ("it didn't work")

it didn't work

In [5]:
if 25<10:
    print ('it worked')
elif 25<30:
    print ('elif worked')
else:
    print ("it didn't work")

elif worked

In [6]:
if 25<10:
    print ('it worked')
elif 25<21:
    print ('elif 1 worked')
elif 25<40:
    print ('elif 2 worked')
elif 25<50:
    print ('elif 3 worked')        
else:
    print ("it didn't work")

elif 2 worked

In [7]:
if (25<10) or (1<3) :
    print ('it worked')
elif 25<21:
    print ('elif 1 worked')
elif 25<40:
    print ('elif 2 worked')
elif 25<50:
    print ('elif 3 worked')        
else:
    print ("it didn't work")

it worked

In [8]:
print ('it worked') if 25<10 else print ("it didn't work")

it didn't work

In [10]:
# nested If statment 
# take note of what happened in line 4
if (25<10) or (1<3) :
    print ('it worked')
    if 10>5:
        print ('this is a nested if statment')
elif 25<21:
    print ('elif 1 worked')
elif 25<40:
    print ('elif 2 worked')
elif 25<50:
    print ('elif 3 worked')        
else:
    print ("it didn't work")

it worked
this is a nested if statment

 ## For Loops

In [1]:
Integer = [1,2,3,4,5,]

In [2]:
for number in Integer:
    print(number)

1
2
3
4
5

In [3]:
for number in Integer:
    print('yep!')

yep!
yep!
yep!
yep!
yep!

In [4]:
for Jelly in Integer:
    print(Jelly + Jelly)

2
4
6
8
10

In [5]:
ice_cream_dic = {'name':'Ivereen Anjira','weekly intake':6,'favorite Ice cream':['cookie dough','coffee']}

In [7]:
for ice_cream in ice_cream_dic.values():
    print (ice_cream)

Ivereen Anjira
6
['cookie dough', 'coffee']

In [10]:
for key, values in ice_cream_dic.items():
    print (key, '-->', values)

name --> Ivereen Anjira
weekly intake --> 6
favorite Ice cream --> ['cookie dough', 'coffee']

### Nested For Loops

In [11]:
Flavours = ['Vanilla','Coffee','Cookie Dough']
Toppings = ['Choclate chip','Oreo','Caramel']

In [13]:
for one in Flavours:
    for two in Toppings:
        print (one, 'topped with', two)

Vanilla topped with Choclate chip
Vanilla topped with Oreo
Vanilla topped with Caramel
Coffee topped with Choclate chip
Coffee topped with Oreo
Coffee topped with Caramel
Cookie Dough topped with Choclate chip
Cookie Dough topped with Oreo
Cookie Dough topped with Caramel

## While Loop

In [15]:
number = 0
while number <= 10:
    print(number)
    number=number+1

0
1
2
3
4
5
6
7
8
9
10

In [21]:
number = 0
while number < 6:
    print(number)
    if number == 7:
        break
    number=number+1
else:
    print('value not less than 6')

0
1
2
3
4
5
value not less than 6

In [5]:
number = 0

while number < 6:
    number=number+1
    if number == 4:
        continue
    print(number)
else:
    print('value not less than 6')

1
2
3
5
6
value not less than 6

## Functios

In [1]:
def first_functio():
    print ('hey, how are you doing')

In [2]:
first_functio()

hey, how are you doing

In [5]:
def calculating_power(number):
    print(number**2)

In [6]:
calculating_power(5)

25

In [7]:
def calculating_power(number,power):
    print(number**power)

In [8]:
calculating_power(5,3)

125

#### Abutuary functions 
this is when you don't know the amount of arguments you have

In [13]:
def calculating_multiplcation(*number):
    print(number[0]*number[1])

calculating_multiplcation(20,7,4,3,5,8)

140

In [22]:
def new_func():
    arg_tuple= (20,7,4,3,5,8)

    def calculating_multiplcation(*number):
        print(number[0]*number[1])

    calculating_multiplcation(*arg_tuple)

new_func()

140

In [ ]:
arg_tuple= [20,7,4,3,5,8]

def calculating_multiplcation(*number):
    for one in number:
        for two in number:
            print (one*two)


calculating_multiplcation(*arg_tuple)

# figure out how to correct

400
140
80
60
100
160
140
49
28
21
35
56
80
28
16
12
20
32
60
21
12
9
15
24
100
35
20
15
25
40
160
56
32
24
40
64

In [35]:
type(arg_tuple)

list

In [23]:
def calculating_power(number,power):
    print(number**power)

calculating_power(number=3,power=5)

243

In [26]:
def number_kwag(**number):
    print('my number is:'+ number['integer'])

In [29]:
number_kwag(integer='5568')

my number is:5568

## Converting Data types

In [36]:
num_int=7
type(num_int)

int

In [40]:
num_str='7'
type(num_str)

str

In [42]:
int(num_str)

7

In [43]:
type(num_str)

str

In [39]:
num_sum = num_int+num_int
print(num_sum)
# why did it actually work here ?

14

In [44]:
type(num_sum)

int

In [50]:
list_1=[1,2,5,5,2,67,3,9,3,4]
type(list_1)

list

In [47]:
conv_tuple= tuple(list_1)
type(conv_tuple)

tuple

In [52]:
set_1=set(list_1)
print(set_1)
type(set_1)

{1, 2, 3, 67, 5, 4, 9}

set

In [53]:
dic_type={'name':'Ivereen','age':28, 'hair':'brown'}

In [57]:
type(list(dic_type.values()))

list

In [60]:
str_2='i','like',"to" ,'type'
list(str_2)

['i', 'like', 'to', 'type']